<%= form_with(model: almoxarifado_retirada) do |form| %>
  <% if almoxarifado_retirada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(almoxarifado_retirada.errors.count, "error") %> prohibited this retirada from being saved:</h2>

      <ul>
      <% almoxarifado_retirada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :almoxarifado_materiais_id %>
    <%= form.text_field :almoxarifado_materiais_id %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
