<%= form_with(model: almoxarifado_retirada) do |form| %>
  <% if almoxarifado_retirada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(almoxarifado_retirada.errors.count, "error") %> impediram que essa retirada fosse realizada: </h2>

      <ul>
      <% almoxarifado_retirada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
    <div class="form-group">
      <%= form.label :setor, class: 'col-form-label' %>
      <%= form.select :almoxarifado_setor_id, Almoxarifado::Setor.all.map { |s| [s.descricao, s.id]}, class: 'form-control', prompt: 'Selecione o setor' %>
    </div>
    <div class="form-group">
      <%= form.hidden_field :almoxarifado_materiais_id, value: @almoxarifado_material.id %>
      <%= form.label :quantidade, class: 'col-form-label' %>
      <%= form.number_field :quantidade, class: 'form-control' %>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit "Salvar", class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
  </div>
<% end %>
