<%= simple_form_for(almoxarifado_entrada, remote: true) do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <%= f.input :almoxarifado_materiais_id, as: :hidden, input_html: { value: @almoxarifado_material.id } %>
      <%= f.input :quantidade, as: :integer  %>
      <%= f.input :numero_empenho %>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.submit "Salvar", class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
  </div>
<% end %>


