<%= form_with(model: almoxarifado_material, local: true) do |form| %>
  <% if almoxarifado_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(almoxarifado_material.errors.count, "error") %> impediu que o material fosse salvo:</h2>

      <ul>
      <% almoxarifado_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :descricao, class: "col-form-label" %>
    <%= form.text_field :descricao, class: "form-control" %>
  </div>
    <%= form.submit "Salvar", class: 'btn btn-success' %>
<% end %>
